{% load static %}

<div class="container-fluid doubleblock">
      <div class="row">
            <div class="wow fadeInLeft col-lg-6 col-md-6 col-12"  data-wow-delay="300ms" data-wow-duration="1.2s">
                  <div class="single-block">
                        <img src="{% static 'img/mens.jpg' %}" alt="#">
                        <div class="content">
                              <p class="wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">Man's Collectons</p>
                              <h3 class="wow fadeInUp" data-wow-delay="2.2s" data-wow-duration="1.2s">Man's items <br>Up to<span> 50%</span></h3>
                              <a class="wow fadeInUp" data-wow-delay="2.5s" data-wow-duration="1.2s" href="#">Shop Now</a>
                        </div>
                  </div>
            </div>
            <div class="wow fadeInRight col-lg-6 col-md-6 col-12" data-wow-delay="300ms" data-wow-duration="1.2s">
                  <div class="single-block">
                        <img src="{% static 'img/watch.jpg' %}" alt="#">
                        <div class="content">
                              <p class="wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">Beauty & Gadgets</p>
                              <h3 class="wow fadeInUp" data-wow-delay="2.2s" data-wow-duration="1.2s">Enjoy discount <br>up to<span> 30%</span></h3>
                              <a class="wow fadeInUp" data-wow-delay="2.5s" data-wow-duration="1.2s" href="#">Shop Now</a>
                        </div>
                  </div>
            </div>
      </div>      
</div>


<link rel="stylesheet" href="{% static 'css/banner/2blocks.css' %}" type="text/css">
