{% load static %}

<div class="container-fluid doubleblock">
      <div class="row">
            <div class="wow fadeInLeft col-lg-6 col-md-6 col-12">
                  <div class="single-block">
                        <img src="{% static 'img/smartphone.jpg' %}" alt="#">
                        <div class="content">
                              <p>Man's Collectons</p>
                              <h3>Man's items <br>Up to<span> 50%</span></h3>
                              <a href="#">Shop Now</a>
                        </div>
                  </div>
            </div>
            <div class="wow fadeInRight col-lg-6 col-md-6 col-12 ">
                  <div class="single-block">
                        <img src="{% static 'img/smartphone.jpg' %}" alt="#">
                        <div class="content">
                              <p>Man's Collectons</p>
                              <h3>Man's items <br>Up to<span> 50%</span></h3>
                              <a href="#">Shop Now</a>
                        </div>
                  </div>
            </div>
      </div>      
</div>


<link rel="stylesheet" href="{% static 'css/banner/2blocks.css' %}" type="text/css">
