{% load static %}

<div class="container-fluid pt-3 wow fadeInRight" id="banner2" data-wow-delay="500ms" data-wow-duration="1.2s">
    <div class="row">
            
            <div class="col-lg-8 pl-5 pt-5">
                <div class="owl-carousel banner2-slider">
                    <div class="product">
                        <div class="product-card">
                              <div class="card-img">
                                    <img src="https://assets.products-live.ao.com/Images/7be21737-1f60-4a27-8757-9dfd2b124513/1280x1280/phantomsilver_samsung_s21ultra_01.png" alt="">
                              </div>
                              <div class="ribbon-box">
                                    <span class="ribbon-box-wrap">
                                          <span class="ribbon-border"></span>
                                          <span class="ribbon-text">Sale</span>
                                    </span>  
                              </div>
                              <div class="heart-icon">
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart"></i>
                              </div>
                              <div class="product-des">
                                    <div class="product-category"><a href="#">Smartphone</a></div>
                                    <h2><a class="product-header" href="#">Samsung S21 Ultra</a></h2>
                              
                                    <div class="product-rate">
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="ml-1">(4.0)</span>
                                    </div>
                                    <div class="product-card-down">
                                          <div class="product-pricing mt-1">
                                                <span class="current-price">54.5$</span>
                                                <span class="old-price">69.3$</span>
                                          </div>
                                          <div class="cart-btn">
                                                <i class="fas fa-shopping-cart"></i>
                                          </div>
                                    </div>
                              </div>
                              
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-card">
                              <div class="card-img">
                              <img src="https://assets.products-live.ao.com/Images/7be21737-1f60-4a27-8757-9dfd2b124513/1280x1280/phantomsilver_samsung_s21ultra_01.png" alt="">
                        
                              </div>
                              <div class="ribbon-box">
                                    <span class="ribbon-box-wrap">
                                          <span class="ribbon-border"></span>
                                          <span class="ribbon-text">Sale</span>
                                    </span>  
                              </div>
                              <div class="heart-icon">
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart"></i>
                              </div>
                              <div class="product-des">
                                    <div class="product-category"><a href="#">Smartphone</a></div>
                                    <h2><a class="product-header" href="#">Samsung S21 Ultra</a></h2>
                              
                                    <div class="product-rate">
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="ml-1">(4.0)</span>
                                    </div>
                                    <div class="product-card-down">
                                          <div class="product-pricing mt-1">
                                                <span class="current-price">54.5$</span>
                                                <span class="old-price">69.3$</span>
                                          </div>
                                          <div class="cart-btn">
                                                <i class="fas fa-shopping-cart"></i>
                                          </div>
                                    </div>
                              </div>
                              
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-card">
                              <div class="card-img">
                              <img src="{% static 'img/oneplusm1.png' %}"  alt="">
                        
                              </div>
                              <div class="ribbon-box">
                                    <span class="ribbon-box-wrap">
                                          <span class="ribbon-border"></span>
                                          <span class="ribbon-text">Sale</span>
                                    </span>  
                              </div>
                              <div class="heart-icon">
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart"></i>
                              </div>
                              <div class="product-des">
                                    <div class="product-category"><a href="#">Smartphone</a></div>
                                    <h2><a class="product-header" href="#">One Plus M1</a></h2>
                              
                                    <div class="product-rate">
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="ml-1">(4.0)</span>
                                    </div>
                                    <div class="product-card-down">
                                          <div class="product-pricing mt-1">
                                                <span class="current-price">54.5$</span>
                                                <span class="old-price">69.3$</span>
                                          </div>
                                          <div class="cart-btn">
                                                <i class="fas fa-shopping-cart"></i>
                                          </div>
                                    </div>
                              </div>
                              
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-card">
                              <div class="card-img">
                              <img src="{% static 'img/oneplusm1.png' %}"  alt="">
                        
                              </div>
                              <div class="ribbon-box">
                                    <span class="ribbon-box-wrap">
                                          <span class="ribbon-border"></span>
                                          <span class="ribbon-text">Sale</span>
                                    </span>  
                              </div>
                              <div class="heart-icon">
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart"></i>
                              </div>
                              <div class="product-des">
                                    <div class="product-category"><a href="#">Smartphone</a></div>
                                    <h2><a class="product-header" href="#">One Plus M1</a></h2>
                              
                                    <div class="product-rate">
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="ml-1">(4.0)</span>
                                    </div>
                                    <div class="product-card-down">
                                          <div class="product-pricing mt-1">
                                                <span class="current-price">54.5$</span>
                                                <span class="old-price">69.3$</span>
                                          </div>
                                          <div class="cart-btn">
                                                <i class="fas fa-shopping-cart"></i>
                                          </div>
                                    </div>
                              </div>
                              
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-card">
                              <div class="card-img">
                              <img src="{% static 'img/oneplusm1.png' %}"  alt="">
                        
                              </div>
                              <div class="ribbon-box">
                                    <span class="ribbon-box-wrap">
                                          <span class="ribbon-border"></span>
                                          <span class="ribbon-text">Sale</span>
                                    </span>  
                              </div>
                              <div class="heart-icon">
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart"></i>
                              </div>
                              <div class="product-des">
                                    <div class="product-category"><a href="#">Smartphone</a></div>
                                    <h2><a class="product-header" href="#">One Plus M1</a></h2>
                              
                                    <div class="product-rate">
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="ml-1">(4.0)</span>
                                    </div>
                                    <div class="product-card-down">
                                          <div class="product-pricing mt-1">
                                                <span class="current-price">54.5$</span>
                                                <span class="old-price">69.3$</span>
                                          </div>
                                          <div class="cart-btn">
                                                <i class="fas fa-shopping-cart"></i>
                                          </div>
                                    </div>
                              </div>
                              
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-card">
                              <div class="card-img">
                              <img src="{% static 'img/oneplusm1.png' %}"  alt="">
                        
                              </div>
                              <div class="ribbon-box">
                                    <span class="ribbon-box-wrap">
                                          <span class="ribbon-border"></span>
                                          <span class="ribbon-text">Sale</span>
                                    </span>  
                              </div>
                              <div class="heart-icon">
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart"></i>
                              </div>
                              <div class="product-des">
                                    <div class="product-category"><a href="#">Smartphone</a></div>
                                    <h2><a class="product-header" href="#">One Plus M1</a></h2>
                              
                                    <div class="product-rate">
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="ml-1">(4.0)</span>
                                    </div>
                                    <div class="product-card-down">
                                          <div class="product-pricing mt-1">
                                                <span class="current-price">54.5$</span>
                                                <span class="old-price">69.3$</span>
                                          </div>
                                          <div class="cart-btn">
                                                <i class="fas fa-shopping-cart"></i>
                                          </div>
                                    </div>
                              </div>
                              
                        </div>
                    </div>    
                </div>      
            </div>
            <div class="col-lg-3 pt-3">
                  <div class="product-pic-box">
                        <h2 class="box-header pb-5  wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">Header</h2>
                        <h5 class="box-header pt-5  wow fadeInUp" data-wow-delay="2.5s" data-wow-duration="1.2s">View more</h2>
                        <img class="product-pic" src="{% static 'img/banner2.jpg' %}">
                  </div>
            </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/banner/banner2.css' %}" type="text/css">
<script src="{% static 'js/banner2.js' %}"></script>

