{% load static %}

<div class="container-fluid py-3">
      <div class="row">
            <div class="wow fadeInLeft col-md-4 pt-2" data-wow-delay="500ms" data-wow-duration="1.2s">
                  <div class="main-block">
                        <img class="main-img" src="{% static 'img/smartphone3.jpg' %}">
                        <div class="header-up">
                              <h4>Smartphone's</h4>
                        </div>
                  </div>
            </div>
            <div class="wow fadeInUp col-md-4 pt-2" data-wow-delay="500ms" data-wow-duration="1.2s">
                  <div class="main-block">
                        <img class="main-img" src="{% static 'img/kitchen.jpg' %}" data-wow-delay="300ms" data-wow-duration="1.2s">
                        <div class="header-up">
                              <h4>Kitchen Accesories</h4>
                        </div>
                  </div>      
            </div>
            <div class="wow fadeInRight col-md-4  pt-2" data-wow-delay="500ms" data-wow-duration="1.2s">
                  <div class="main-block">
                        <img class="main-img" src="{% static 'img/beauty.jpg' %}">
                        <div class="header-up">
                              <h4>Beauty Care</h4>
                        </div>
                  </div>      
            </div>
      </div>
</div>



<link rel="stylesheet" href="{% static 'css/banner/banner4.css' %}" type="text/css">
