.caption{
    padding: 0.5rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60vw; 
    height: 50%;
    text-align: center;
    visibility: hidden; 
}

.owl-item.active .caption{
  visibility: visible;
  animation-name: fadeInDown;
  animation-delay: 1s;
}

.owl-carousel .item{
      padding:0 !important;
      height:250px!important;
    }
   
.owl-carousel .owl-item div{
             position: relative;
             overflow: hidden;
           }
.owl-carousel .owl-item img{
             display: block;
             width: 100%;
             height: 100vh;
             -webkit-transition: all 20s;
             -moz-transition: all 20s;
             -o-transition: all 20s;
             transition: all 20s;
             transition-timing-function:linear;
           }

.owl-prev,.owl-next{
  height: 35%;
  position: absolute;  
  top: 22%;
  margin: 0;


}
.owl-prev:focus,.owl-next:focus{
  outline: none;
}
.owl-prev {
  left: 10px;
}

.owl-next {
  right:10px;
}


.owl-prev .bx, .owl-next .bx{
  font-size: 50px;
  color: #fff;
  opacity: 0.6;
}
.owl-prev .bx:hover,.owl-next .bx:hover{
  opacity: 1;
  transition: all 0.5s ease-in-out;
}


.owl-carousel .owl-dots {
  position: absolute;
  top:68%;
  left:25%;
  right:25%;
  text-align: center;


}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  position: relative;
  display: inline-block; 

}

.owl-carousel .owl-dots .owl-dot:after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 50%; }
    
.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
      outline: none !important;
    }
.owl-carousel .owl-dots .owl-dot.active {
      background: purple; }


@media(min-width:720px){
  .owl-prev,.owl-next{
    visibility: hidden;
  }
  .owl-carousel:hover .owl-prev{
    transition: all 0.5s ease-in-out;
    transform: translate(10px,0);
    visibility: visible;
  }
  .owl-carousel:hover .owl-next{
    transition: all 0.5s ease-in-out;
    transform: translate(-10px,0);
    visibility: visible;
  } 

}