/*  Footer CSS  */
.myFooter{
      background-color: #181616;
      color: #fff;
  }
  .footer-top{
      border-bottom: 1px solid #444;
  }
  .footerContent h4{
      color: rgb(0, 255, 234);
      border-bottom: 1px solid #444;
      padding-bottom: 20px;
      margin-bottom: 20px;
  }
  .footerContent ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
  }
  .footerContent ul li {
      margin: 10px 0;
  }
  .footerContent ul li a {
      text-decoration: none;
      color: white;
      transition: .2s;
  }
  .footerContent ul li a:hover{
      font-weight: bold;
      color: rgb(0, 255, 234);
  }
  .footerSI ul{
      display: flex;
      justify-content: start;
  }
  .footerSI ul li a {
      font-size: 25px;
      color: grey;
      margin-right: 10px;
  }
  .footerCI span {
      display: inline-block;
      margin-right: 15px;
      font-size: 20px;
      color: grey;
  }
  .footerCI a {
      text-decoration: none;
      color: white;
  }
  .ourApp img{
      max-width: 48%;
  }