@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
body {
      font-family: Lato,sans-serif;
    }

.section-title{
  font-family: Dosis, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color:#000000;

}
