@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

body {
      font-family: Lato,sans-serif;
    }

 
  /* Banner 1 */
  #banner1 a{
      display: block;
      overflow: hidden;
  }
  #banner1 img{
      transition: 0.3s ease-in-out;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      border: none;
      }
  #banner1 a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid white;
    opacity: 0;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}

/* #zoomIn img:hover{
    transform: scale(1.2);
} */
#banner1  a:hover::before{
    transform: scale(0.75);
    opacity: 1;
}
#banner1  strong{
    position: absolute;
    font-family: Dosis, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    top: 52%;
    font-size: calc(25px + 1vh);
    left: 0;
    opacity: 0;
    transition: 0.4s ease;
}
#banner1 a:hover strong{
    top: 0;
    opacity: 1;
}


/* .banner1 .card-item{
  margin-bottom: 20px;
}
@media(min-width:1200px){
  .banner1 .card-item{
    margin-bottom: 30px;
  }
}

.banner1 .sub-card-item{
  position: relative;
}
.banner1 .card-img-box{
  text-align: center;
}
.banner1 .card-img-link{
  position: relative;
  display: block;
}
.banner1 .card-img{

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border: none;
}
.banner1 .card-img-box img{
  margin-left: auto;
  margin-right: auto;

} */
.section-title{
  font-family: Dosis, sans-serif;
  font-size: 10%;
  font-weight: 700;
  color:#000000;
  margin-bottom: 2rem;
  transition: 0.3s ease-in;

}
.Featured:hover .section-title, .Trending:hover .section-title{
  letter-spacing:2%;
  word-spacing: 8px;
  color: #16141f;
  
}

.land-product{
    margin: 10px 15px 0 5px;
    overflow: hidden;
    position: relative;
}
#banner2 .container{
  padding: 30px;
  box-shadow: 2px 0px 15px #0000001a;
  overflow: hidden;
}
#banner2 .owl-carousel .owl-item:hover{
  border:1px solid #1614141a;

}

#banner2 .owl-carousel .owl-item .land-pro-img{
    
    height: auto;
    max-width: 100%;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
#banner2 .owl-carousel .owl-item:hover .land-pro-img{
  transform: scale(1.1);
}

#banner2 .owl-carousel .owl-item ul{
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 9;
  height: 30px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  padding: 0;
  margin: 0;
  bottom: 20px;
  
}
#banner2 .owl-carousel .owl-item ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  transform: scale(0,0);
}
#banner2 .owl-carousel .owl-item:hover ul li{
  transform: scale(1,1);

}

#banner2 .owl-carousel .owl-item ul li a{
  font-size: 22px;
  color:#020229;
  height:40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #FFFAFA;
  display: block;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  z-index: 1;
  overflow: hidden;
  
}
#banner2 .owl-carousel .owl-item ul li a::before{
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #050144;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-out;
  transform: scale(0,0);
  z-index: -1;
}
#banner2 .owl-carousel .owl-item ul li a:hover::before{
  transform: scale(1,1);
}

#banner2 .owl-carousel .owl-item ul li:hover a{
  color: #ebe0b1;
  transform: rotate(360deg);
  background-color: #050144;
  
}

#banner2 .owl-carousel .owl-nav{
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -20px;
}
#banner2 .owl-carousel .owl-nav button{
  height: 60px;
	width: 40px;
	line-height: 60px;
	text-align: center;
	color: rgb(1, 10, 15);
	font-size: 20px;
	position: absolute;
	margin: 0;
	transition: all 0.2s ease;
	padding: 0;
	border-radius: 5px;
}
#banner2 .owl-carousel .owl-nav button:hover{
	background:#050144;
	color:#fff;
}
#banner2 .owl-carousel .owl-nav .owl-prev{
	left:0;
}
#banner2 .owl-carousel .owl-nav .owl-next{
	right:0;
}
.product-detail{
  margin-top: 22px;
  margin-bottom: 0;
}
.product-detail h3{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  font-family: Dosis, sans-serif;
  float: left;
  margin-left: 1.2rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;   
  text-overflow: ellipsis;
  display: block;
  width: 50%;
}
.product-head{
  width:80%;
  position: absolute;
  overflow: hidden;
  
}

.land-product:hover .product-flow h3{
  animation: scroll 7s infinite;
  animation-delay: 1.5s;
  
}
.land-product:hover .product-flow , .land-product:hover h3{
  width: auto;
}
@keyframes scroll {
  0% {
    left: 0;
  }
  75% {
    transform: translateX(-100%);
  }
  90%,
  100% {
    left: 0;
    transform: unset;
  }
}
.product-detail .product-rate{
  float:right;
  margin-right: 2px;
  
}
.product-detail .product-rate .present{
  font-size: 16px;
	font-weight: 900;
  line-height: 1.4em;
}
