@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Bungee+Outline&family=Pattaya&family=Sigmar+One&display=swap');
.letters{
      display: inline-block;
      line-height: 1rem;
      transform-origin: 0 0;
      font-weight: 1000;
      letter-spacing: 2px;
      font-family: 'Averia Libre', cursive;
      }

.letters:nth-child(1){
      color: cyan;
      }

.letters:nth-child(2){
      color: blanchedalmond;
      }

.letters:nth-child(3){
      color: lime;
      }

.letters:nth-child(4){
      color: aquamarine;
      }



.overlay{
      margin-top: 3.5rem;
      left: 0;
      width: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      visibility: hidden;
}
.navbar .front-icon .bx{
      color:papayawhip;
      cursor: pointer;
      height: 1.5rem;
      font-size: 25px;
      position: relative; 
}

.sidebar{
      top: auto;
      left: auto;
      right: auto;
      flex-direction: row;
      transition: none;
      overflow-y: hidden;
      max-width: 100%;
      background-color: transparent;
}


.navbar{
      background-color: #0a1c24;
      font-family: cursive;


}

.navbar .nav-link{
      color:papayawhip!important;
      font-weight: 600;
      transition: all 0.5s ease-in-out;

      

}

.nav-link:hover{
      letter-spacing: 1.5px;
      font-weight: 900;
      color:rgb(121, 248, 248)!important;
}
.nav-link:focus-visible{
      outline: none;
}


.main-navigation.active .sidebar{
      left: 0;
}
.main-navigation.active .overlay{
      visibility: visible;
}
.nav-item:hover .sideicon{
      color: cyan;
      transition: all 0.5s ease-in-out;
      animation: Spin .4s;
}
.front-icon .bx:hover{
      color:#4cf8f2;
      transition: all 0.5s ease-in-out;
      animation: Shake .4s;
}
.navbar .front-icon i{
      font-size: 24px;
      color: papayawhip;
      margin-bottom: 2px;
      transition: 0.3s ease-in-out;
}
.navbar .front-icon i:hover{
      color:#1bb9b4
}
.navbar-toggler:focus{
      outline: none;
}

.pointer{
      cursor: pointer;
}
.badge{
      position: absolute;
      top: 0;
      right: -10px;      
      display:inline-block;
      min-width:8px;
      padding:3px 7px;
      font-size:10px;
      font-weight:900;
      line-height:1;
      color:#fff;
      text-align:center;
      white-space:nowrap;
      vertical-align:baseline;
      background-color: rgb(231, 69, 96);
      border-radius:10px;     
}
/* Humberger Menu */
.humberger-menu{
      width: 30px;
      height: 20px;
      position: relative;
      margin: 0px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
}
.humberger-menu span{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      background: papayawhip;
      transition: .25s ease-in-out;
}
.humberger-menu span:nth-child(1) {
      top: 0px;
      }
      
.humberger-menu span:nth-child(2), .humberger-menu span:nth-child(3) {
      top: 10px;
      }
      
.humberger-menu span:nth-child(4) {
      top: 20px;
      }
.humberger-menu.open span:nth-child(1) {
      top: 11px;
      width: 0%;
      left: 50%;
      }
      
.humberger-menu.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      }
      
.humberger-menu.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      }
      
.humberger-menu.open span:nth-child(4) {
      top: 11px;
      width: 0%;
      left: 50%;
      }

/* end Humberger Menu */


.menu-checkbox, .menu-toggle, .push-menu, .dropdown-label{
      display: none;
}

.megamenu {
      position: static;
     
    }
.megamenu .dropdown-menu {
      border-radius: 0;
      background: #0a1c24;
      transition: all 0.3s ease;
      opacity: 0;
      display: block;
      visibility: hidden;
      width: 100%;
}
.megamenu h6{
      margin-left: -2px;
      cursor: pointer;
}

.dropdown:hover .dropdown-menu{
      opacity: 1;
      visibility: visible;
    }

@media(min-width:991px){
      .nav-link{
            padding: 15px 0;
      }
      .navbar{
            padding: 0!important;
      }

}
@media(max-width:992px){
      .megamenu{
            display: none;
      }

      .sidebar{
            left: -100%;
            max-width: 250px;
            transition: all 0.8s ease;
            top: 0%;
            bottom: 0%;
            background-color: #0a1c24;
            
      }
      
      .sidebar, .overlay{
            position: fixed;
            top: 0;
            bottom: 0;
      }
      
	.dropdown {
		position: unset;
	}
	.dropdown-menu {
		top: 0;
	}
	.dropdown-toggle {
		display: none;
	}

	
	.dropdown-label, .push-menu {
		display: block;
            padding-bottom: 0;
		
	}
      .dropdown-label i{
            float: right;
            font-size: 24px;
      }
      .dropdown-item:focus, .dropdown-item:hover{
            background: none;
      }
      
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		min-height: 100vh;
		height: 100%;
		background: #0a1c24;
		transform: translate3d(-250px, 0, 0);
		transition: transform 0.35s ease;
	}
	.menu-checkbox:checked + .menu {
		transform: translate3d(0, 0, 0);
	}
      
	.menu-toggle {
		display: block;
            color: papayawhip;
            font-weight: 600;
            margin-top: 10px;
            margin-left: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid papayawhip;
            transition: all 0.5s ease;
            cursor: pointer;
	}
      .menu-toggle i{
            margin-top:1%;
            font-size: 22px;
            float: left;
            transition: 0.8s ease;

      }
      .menu-toggle:hover i{
            color: rgb(19, 214, 198);
            letter-spacing: 5px;
            transform: rotate(-360deg);
      }
	
	
	.menu ul,
	.menu ul li {
		display: block;
		margin: 0;
		width: 100%;
		border: none;
		border-radius: 0;
		background: #0a1c24;
	}
	.menu ul li {
		padding: 5px 0;
	}
      
      

}

/* animation keyframe */
@keyframes SlideUP{
      from{
            opacity: 0;
            transform: translateY(15px);
            }
      to{
            opacity: 1;
            transform: translateY(0px);
            }
}
@keyframes Shake {
      10%, 90% {transform: translate3d(-1px, 0, 0);}
      
      20%, 80% {transform: translate3d(2px, 0, 0);}
    
      30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    
      40%, 60% {transform: translate3d(4px, 0, 0);}
}

@keyframes Spin {
      0%{transform: rotate(0deg);}
      
      100%{transform: rotate(-360deg)}
}
/* end keyframe */

