{% load static %}

<div class="owl-carousel owl-theme">
      {% for carousel in carousels %}
      <div class="item">
        <h2 class="caption">{{carousel.title}}</h2>
        <img src="{{carousel.image.url}}" style="max-height:200px">
      </div>
      {% endfor %}
          
</div>

<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/carousel3.css' %}">
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/carousel3.js' %}"></script>