{% load static %}
<section class="myFooter">
<div class="footer-top py-5">
    <div class="d-flex justify-content-center mb-4"><h2>FOOTER NAME</h2></div>
    <div class="container-fluid px-4">
      <div class="row">

        <div class="col-lg-3 mt-4">
          <div class="footerContent">
            <div class="footerContent">
              <h4>EXPLORE PROPERTIES</h4>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Our Performance </a></li>
                <li><a href="#">Help (FAQ) </a></li>
                <li><a href="#">Blog </a></li>
                <li><a href="#">Contact </a></li>
              </ul>
            </div>
            <div class="footerSI mt-4">
              <strong>FOLLOW US: </strong>
              <ul>
                <li><a href="#"> <i class="fab fa-facebook    "></i> </a></li>
                <li><a href="#"> <i class="fab fa-twitter    "></i> </a></li>
                <li><a href="#"> <i class="fab fa-instagram    "></i> </a></li>
                <li><a href="#"> <i class="fab fa-linkedin    "></i> </a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 mt-4">
          <div class="footerContent">
            <h4>OVERVIEW</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Our Performance </a></li>
              <li><a href="#">Help (FAQ) </a></li>
              <li><a href="#">Blog </a></li>
              <li><a href="#">Contact </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <div class="footerContent">
            <h4>COMMUNITY</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Our Performance </a></li>
              <li><a href="#">Help (FAQ) </a></li>
              <li><a href="#">Blog </a></li>
              <li><a href="#">Contact </a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 mt-4">
          <div class="footerContent">
            <h4>Contact Us</h4>
            <div class="footerContact">
              <div class="footerCI d-flex mb-3">
                <span> <i class="fas fa-location-arrow"></i> </span>
                <a href="#"> Dhaka, Narayangonj , Fatullah </a>
              </div>
              <div class="footerCI d-flex mb-3">
                <span> <i class="fas fa-envelope"></i> </span>
                <a href="#"> example@gmail.com </a>
              </div>
              <div class="footerCI d-flex mb-3">
                <span> <i class="fas fa-phone"></i> </span>
                <a href="tel:018XXXXXXXX"> 018XXXXXXXX </a>
              </div>
            </div>
            <div class="ourApp">
              <a href="#"><img src="play-store.png" alt="#"></a>
              <a href="#"><img src="apple.png" alt="#"></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footerCr">
            <p>Copyright <a href="#"> </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
