{% load static %}
<nav class="navbar navbar-expand-lg navbar-light main-navigation sticky-top">
  <div class="container-fluid">
  
  <a class="navbar-brand" href="#myPage">
  <span class="letters">MTKS</span>
  </a>
  <div class="ml-auto align-middle mr-3 order-lg-last pr-3 front-icon">
  <i class='bx bx-heart pr-2'></i>
  <i class="bx bx-user pr-2">
  </i>
  <i class='bx bx-shopping-bag'>
  <span class="badge">1</span>
  </i>
  </div>
  <button class="navbar-toggler" type="button">
    <div class="humberger-menu">
      <span></span><span></span><span></span><span></span>
    </div>
  </button>
  <div class="overlay d-flex d-lg-none">
  </div>
  <div class="order-lg-2 mr-auto d-lg-flex w-75 pb-3 pb-lg-0 sidebar" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link px-3" style="--i: .3s" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" style="--i: .5s" href="#banner">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" style="--i: .7s" href="#about">Blog</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" style="--i: .9s" href="#about">New Arrival</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" style="--i: 1.1s" href="#about">About Us</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
<script src="{% static 'js/navbar.js' %}"></script> 
<script src="{% static 'js/swiped-event.js' %}"></script> 