{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container p-5">
      <div class="mainFAQ">
          <div class="question " data-counter="1">
              <span>A Dummy Laptop ?</span>
          </div>
          <div class="answer">
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. divs 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </div>
      </div>
         <div class="mainFAQ">
          <div class="question" data-counter="2">
              <span>Where can I buy a dummy display for an ipod touch 5th gen</span>
          </div>
          <div class="answer" >
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. divs 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </div>
      </div>
      <div class="mainFAQ">
          <div class="question" data-counter="3">
              <span>What Do you Do ?</span>
          </div>
          <div class="answer">
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. divs 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </div>
      </div>
         <div class="mainFAQ">
          <div class="question" data-counter="4">
              <span>Pulling data out of dummy questions ?</span>
          </div>
          <div class="answer">
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. divs 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </div>
      </div>
      <div class="mainFAQ">
          <div class="question" data-counter="5">
              <span>Adding dummy questions ?</span>
          </div>
          <div class="answer">
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. divs 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </div>
      </div>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/FAQ.css' %}">
{% endblock css %}