{% extends 'base.html' %}
{% load static %}
{% block title %}First Class Ecommerce{% endblock title %}
{% block content %}

{% include 'include/carousel3.html' %}
<div class="container py-3">
    {% include 'include/banner/banner1.html' %}
    {% include 'include/banner/Featured.html' %}
    {% include 'include/banner/Trending.html' %}
</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/swiped-event.js' %}"></script> 
{% endblock js %}


