{% extends 'base.html' %}
{% load static %}
{% block title %}First Class Ecommerce{% endblock title %}
{% block content %}
{% include 'include/carousel3.html' %}
<div id="main-content">
<div id="band" class="container text-center py-2 wow slideInUp">
  <div class="row">
        <div class="col-lg-12">
            <h1>Featured Products</h1>
            <p><em>We love music!</em></p>
        </div>
  </div>
  <div class="row">
        <div class="col-lg-12">
            <h1>Trending Products</h1>
            <p><em>We love music!</em></p>
        </div>
  </div>
  <div class="row">
        <div class="col-lg-12">
            <h1>Most Viewed Products</h1>
            <p><em>We love music!</em></p>
        </div>
  </div>
</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/swiped-event.js' %}"></script> 
{% endblock js %}


